<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>HTML5 basic skeleton</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style type="text/css">
    header, section, footer, aside, nav, article, figure, audio, video, canvas  { display:block; }
  </style>
</head>
<body>
  <div id="wrapper">
    <header>
      Header
    </header>
    <nav>
      Nav
    </nav>
    <section id="content">
      <article>
        {% if nombre %}
          Hola {{ nombre }}.
        {% else %}
          Hola.
        {% endif %}
      </article>
    </section>
    <aside>
      Sidebar
    </aside>
    <footer>
      Footer
    </footer>
  </div>   
</body>
</html>
