{% if shortened %}
<p>El URL acortado es: <a href="{{ shortened.get_full_url }}">{{ shortened.get_full_url }}</a></p>
{% else %}
<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<p><input type="submit" value="Acortar" /></p>
</form>
{% endif %}
